[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Updater
Name[en_GB]=Updater
Icon=/usr/share/kano-apps/icons/kano-updater.png
Exec=/bin/bash -c "sudo /usr/bin/kano-updater"
Comment[en_GB]=Kanux Updater
Categories=Extras;
StartupNotify=true
Help=Keep your Kano poppin’ fresh by making sure it’s always up-to-date. This simple updater will do all the downloading and installing so you don’t have to - so why not go and get another soda while you wait?
