body {
    margin: 0;
    background-image: url('../images/update.png');
    background-repeat: no-repeat;
    background-position: center;
}

img {
    padding-top: 50%;
    margin: -400px auto 0 auto;
}
