GtkWindow {
    background: #41464A;
}

GtkProgressBar {
    background: #4e4e4e;
    color: #ff7625;
    border-width: 0;
    padding: 0;
    border-radius: 4px;

    -GtkProgressBar-min-horizontal-bar-height: 8px;
}

GtkProgressBar.progressbar {
    border-radius: 4px;
    background-image: -gtk-gradient(linear, 0 0, 0 1,
                                    color-stop(0, #f5902f),
                                    color-stop(0.5, #ff7625),
                                    color-stop(1, #f56721));
}

GtkLabel {
    font-family: Bariol;
    font-weight: normal;
    color: #FFFFFF;
}

.phase,
.complete {
    font: Bariol Bold 26px;
    color: white;
}

.psa {
    font-size: 20px;
}

.countdown,
.finish-now {
    font-size: 16px;
}

.percent {
    color: #D5E2EB;
    font-size: 15px;
}

.finish-now {
    padding-top: 20px;
}

.H1 {
    font-weight: bold;
    font-size: 21px;
}

.H2 {
    font-size: 15px;
    color: #D5E2EB;
}

.H3 {
    font-size: 13px;
    color: #858B8F;
}
