GtkWindow {
    background: #323232
}

GtkProgressBar {
    background: #4e4e4e;
    color: #ff7625;
    border-width: 0;
    padding: 0;
    border-radius: 4px;

    -GtkProgressBar-min-horizontal-bar-height: 8px;
}

GtkProgressBar.progressbar {
    border-radius: 4px;
    background-image: -gtk-gradient(linear, 0 0, 0 1,
                                    color-stop(0, #f5902f),
                                    color-stop(0.5, #ff7625),
                                    color-stop(1, #f56721));
}

GtkLabel {
    font-family: Bariol;
    font-weight: normal;
    color: #e4e4e4;
}

.phase {
    font: Bariol Bold 26px;
    color: white;
}

.psa {
    font-size: 16px;
}

.subphase,
.percent {
    font-size: 14px;
}
