#
# recovery-err@.service
#
# Runs the splash screen for the when recovery mechanism fails with an error
# message. Add directories for error messages under
#     /usr/lib/python2.7/dist-packages/kano_updater/ui/media/images/en_US/update-interrupted/
# titled `<error_code>-err`
#


[Unit]
Description=Start recovery error %i splash
DefaultDependencies=no
ConditionPathExists=/usr/lib/python2.7/dist-packages/kano_updater/ui/media/images/en_US/update-interrupted/%i-err

[Service]
Restart=no
ExecStart=/usr/bin/kano-start-splash -t -1 /usr/lib/python2.7/dist-packages/kano_updater/ui/media/images/en_US/update-interrupted/%i-err
